* {
    margin: 0;
}


.gameContainer {
    width: 100%;
    height: 100%;
    display: grid;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.9fr 1.7fr 0.4fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header header header"
      "board board board"
      "info info info"; 
  }

  .board { 
    grid-area: board; 
    width: 100%;
    height: 100%;
    display: flex;

}
  .header { 
    grid-area: header; 
    width: 100%;
    height: 100%;
}
  .info { 
    grid-area: info; 
    width: 100%;
    height: 100%;
}

.playSettings {
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    color: white;
}

.hard {
    display: none;
}

.easy {
    display: none;
}

#gameColor {

    width: 200px;
    height: 200px;
}


