* {
    margin: 0;
}




body {
    font-family: "Roboto Mono", monospace;
    color: white;
    overflow: hidden;
    background-color: #000e14;
}

main {
    position: absolute;
    z-index: 1;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center
}

@media (max-width: 1000px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    header {
        align-self: self-end;
        position: relative;
        top: -20%;
    }
    section {
        align-self: start;
        position: relative;
    }
    .teamOne, .teamTwo {
        scale: 0.75;
    }
    .buttonContainer {
        flex-direction: column;
        padding-left: 30%;
        padding-right: 30%;
        padding-top: 10%;
        gap: 20px;
    }
}



#titleHeader {
    font-size: calc(2rem + 3vw);
    color: white;
}

nav {
    position: sticky;
    padding: 20px;
    z-index: 1;
    top: 0;
    width: 100%;
    display: flex;
}

.navElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    padding-bottom: 2px;
    border: 1px solid transparent;
}

.navElement:hover {
    cursor: pointer;
    border-bottom: 1px solid white;
}

.leagueName {
    font-size: 20px;
    color: white;
}

.HeroButton {
    background-color: #191e24;
    font-size: 12px;
    border-radius: 8px;
    padding-top: 0.725rem;
    padding-bottom: 0.725rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    border: none;
    color: white;
}

.HeroButton:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.buttonContainer {
    display: flex;
    gap: 10px;
}

section {
    background-color: #191e24;
    padding: 2em;
    border-radius: 0.75em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-items: center;
}

.teamInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
}

section > h1 {
    word-break: keep-all;
    align-self: flex-end;
}

.teamOne, .teamTwo {
    background-color: #34383c;
    width: 250px;
    height: 120px;
    border-radius: 0.75em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    color: white;
    font-size: 16px;
}

.vs {
    color: white;
    font-size: 40px;
    font-weight: bold;
}
