body {
    position: fixed;
    background-image: url("Assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}